site_name: RouteE Transit
site_description: Transit route and energy modeling tools
site_url: https://github.nrel.gov/pages/RouteE/routee-transit/
nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - Prediction: prediction.md
  - API Reference: api.md
  - Contributing: contributing.md
  - Changelog: changelog.md
theme:
  name: material
plugins:
  - search
  - mkdocstrings
  - autorefs
