name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**.md"

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.14
        with:
          pixi-version: v0.49.0
          cache: true
          auth-host: prefix.dev
          auth-token: ${{ secrets.PREFIX_DEV_TOKEN }}
          environments: >-
            dev-py310
            dev-py311
            dev-py312
      - name: Run CI checks
        run: |
          pixi run --environment dev-py310 ci
          pixi run --environment dev-py311 ci
          pixi run --environment dev-py312 ci
